.body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.header{
    display: flex;
    justify-content: center;
}
.title{
    font-weight: 400;
    color:yellow;
    display: flex;
    justify-content: center;
}

.resistersection{
    margin-top: 50px;
    width: 600px;
    height: 100%;    
    display: flex;
    justify-content: center;
}
.mymemosection{
    width: 600px;
    height: 100%;
    background-color: black;
}
#addbutton{
    border-radius: 25px;
    width: 70px;
    height: 70px;
    left: 650;
    position: relative;
    z-index: 100;
    bottom: 300px;
    background-color: lightyellow;
    font-size: 40px;
    font-weight: 500;
}
#seeothermemo_officer{
    width: 120px;
    height: 40px;
    position: relative;
    margin-left: -35%;
    bottom:500px;
}
#seeothermemo_team{
    width: 120px;
    height: 40px;
    position: relative;
    margin-left: -21%;
    bottom:400px;
}
#logout{
    width: 120px;
    height: 40px;
    position: relative;
    margin-left: -21%;
    bottom:300px;
}



