.body{
    background-color: black;
}
.idpw{
    width: 100%;
    height: 100%;
}
.checkbox{
    font-size: 11px;
    background-color: white;
    
}
.checkbox_section{
    display: flex;
    justify-content: flex-end;
}
.idpw_section{
    width: 100%;
    height: 30px;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginsection{
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
}
.loginsection_2{
    width: 300px;
}
.logintext{
    display: flex;
    justify-content: center;
    align-items: center;
    color:yellow;
    font-size: 50;
}
.font{
    color: yellow;
}
.buttonsection{
    margin-top:100px;
    display: flex;
    justify-content: space-between;
}
.clickbutton{
    width: 100px;
    border: 1px solid black;
    background:lightyellow;
    font-weight: 300;
}